body {
    background-image: linear-gradient(#ff6b6b, rgba(255, 107, 107, 0));
    background-repeat: no-repeat;
    height: 70vh;
  }
  .startButton {
    color: rgb(110, 0, 0);
    background-color: #ffd4d4;
    border-width: 0px;
    padding: 10px 35px;
    font-size: 150%;
  }
  .startButton:hover {
    background-color: #ff9a9a;
    border-radius: 0%;
    border-width: 0px;
  }
  .startButtonClick {
    background-color: blue;
  }